{% extends "home/layout.html" %}
{% block body %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div>
        <button id="btn_copy" class="btn btn-primary btn-sm" data-clipboard-text="baidu">批量复制链接</button>
        <div id="show" style="display: none;">Copied</div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>图片</th>
                <th>磁力链</th>
                <th>演员</th>
                <th>演员</th>
                <th>发表时间</th>
            </tr>
            </thead>
            <tbody>
            {% set ns_forum = namespace(loop) %}
            {% for row in forums %}
                {% set ns_forum.loop = loop.index0 %}
                <tr>
                    <td>{{ row['id'] }}</td>
                    <td>
                        <div class="forum-title"><a href="{{ row['url'] }}" target="_blank">{{ row['title'] }}</a></div>
                    </td>
                    <td>
                        {% if row.get_pics() %}
                            {% for pic in row.get_pics()[:3] %}
                                <a href="{{ pic|pic_url_for }}" target="_blank">
                                    <button class="btn btn-primary btn-sm">{{ loop.index }}</button>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div>无图片</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if row['magnet'] %}
                            <a href="{{ row['magnet'] }}"> 磁力链 </a>
                        {% else %}
                            <div>未知</div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="forum-fixed"><a href="/search?actor={{ row['actor'] }}"> {{ row['actor'] }} </a>
                        </div>
                    </td>
                    <td>
                        <div class="forum-fixed"><a
                                href="/search?actor_pro={{ row['actor_pro'] }}"> {{ row['actor_pro'] }} </a></div>
                    </td>
                    <td>{{ row['create_time'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}

    <script>
        var cb = new ClipboardJS('#btn_copy', {
            text: function (trigger) {
                var result = "";
                {% for row in forums %}
                    result = result + "{{ row['magnet'] }}" + "\n";
                {% endfor %}
                return result;
            }
        });

        cb.on('success', function (e) {
            $('#show').slideDown().delay(1500).slideUp(300);
        });
    </script>
{% endblock %}