{% extends "layout.html" %}
{% block body %}
    {{ pagination.info }}
    {{ pagination.links }}
    <div>
        <button id="btn_copy" class="btn btn-primary btn-sm" data-clipboard-text="baidu">批量复制链接</button>
        <div id="show" style="display: none;">Copied</div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>类别</th>
                <th>标题</th>
                <th>图片</th>
                <th>磁力链</th>
                <th>演员</th>
                <th>发表时间</th>
            </tr>
            </thead>
            <tbody>
            {% set ns_forum = namespace(loop) %}
            {% for row in forums %}
                {% set ns_forum.loop = loop.index0 %}
                <tr>
                    <td>{{ row['tag'] }}</td>
                    <td>
                        <div class="forum-title"><a href="{{ row['url'] }}" target="_blank">{{ row['title'] }}</a></div>
                    </td>
                    <td>
                        {% if row.get_pics() %}
                            <button class="btn btn-primary btn-sm" id="view-{{ ns_forum.loop }}">查看</button>
                            <script type=" text/javascript">
                                $(document).ready(function () {
                                    var obj = {"data": []};
                                    {% for pic in row.get_pics() %}
                                        obj['data'].push({'src': "{{ pic }}"});
                                    {% endfor %}
                                    $("#view-{{ ns_forum.loop }}").click(function () {
                                        layer.photos({
                                            photos: obj,
                                            area: ['1000px', 'auto'],
                                            closeBtn: 2,
                                            anim: -1
                                        });
                                    });
                                });
                            </script>
                        {% else %}
                            <div>无图片</div>
                        {% endif %}
                    </td>
                    <td><a href="{{ row['magnet'] }}"> 磁力链 </a></td>
                    <td>{{ row['actor'] }}</td>
                    <td>{{ row['create_time'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}

    <script>
        var cb = new ClipboardJS('#btn_copy', {
            text: function (trigger) {
                var result = "";
                {% for row in forums %}
                    result = result + "{{ row['magnet'] }}" + "\n";
                {% endfor %}
                return result;
            }
        });

        cb.on('success', function (e) {
            $('#show').slideDown().delay(1500).slideUp(300);
        });
    </script>
{% endblock %}