<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ g.home_title }}</title>
    <link rel=stylesheet href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel=stylesheet href="https://cdn.staticfile.org/layer/2.3/skin/layer.css">
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/layer/2.3/layer.js"></script>
</head>
<body>
<div class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="url-cid-top">
                    <a class="nav-link" href="/top">热门</a>
                </li>
                {% for cid in g.categories %}
                    <li class="nav-item" id="url-cid-{{ cid }}">
                        <a class="nav-link" href="/forums/{{ cid }}/">{{ g.categories[cid] }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item" id="url-cid-admin">
                    <a class="nav-link" href="/admin">管理后台</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="/search">
                <input class="form-control mr-sm-2" placeholder="keyword" aria-label="Search" type="text"
                       name="keyword">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div> <!-- /container -->

<script>
    {% if active_url %}
        $('#{{ active_url }}').addClass('active');
    {% endif %}
</script>
</body>
</html>